@page
@model MyStore.Pages.Clients.EditModel
@{
}
<br />
<h2>Edit Client Details</h2>

@if (Model.em.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.em</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
	</div>
}
<form method="post">
	
	<div class="row mb-3">
		<label class="col col-sm-3 col-form-label">Studentid</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Studentid" value="@Model.clientInfo.id" />
		</div>
	</div>
    <div class="row mb-3">
        <label class="col col-sm-3 col-form-label">Studentname</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="studentname" value="@Model.clientInfo.name" />

        </div>
    </div>
   
  
    <div class="row mb-3">
        <label class="col col-sm-3 col-form-label">Mobilenumber</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="mobilenumber" value="@Model.clientInfo.Mobilenumber" />

        </div>
    </div>
  
    </div>

	@if (Model.sm.Length > 0)
	{
		<div class="row-mb-3">
			<div class="col-sm-8 ">
				<div class='alert alert-success alert-dismissible fade show' role='alert'>
					<strong>@Model.sm</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>